<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Pais</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input 
                (onEnter)="buscar($event)"
                (onDebounce)="sugerencias($event)"
                placeholder="Buscar por pais..."
            ></app-pais-input>
        </div>
    </div>
    <div class="row" *ngIf="mostrarSugerencias">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                *ngFor="let pais of paisesSugeridos">
                <a [routerLink]="[ '/pais/', pais.cioc ]"
                    class="nav-link">{{pais.flag}} {{pais.name.common}}
                </a>
            </li>
            <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
                <a class="nav-link">
                    Buscar "{{termino}}"
                </a>
            </li>
        </ul>
    </div>

</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontro nada con el termino {{termino}}
</div>
<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>