<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Ir a login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Ir al registro</a>
    </li>    
    <li>
        <a routerLink="/heroes/listado">Listado Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Agregar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/1">Editar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/1">Listado Heroe V2</a>
    </li>
</ul>