<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>Pipes creados por {{'nosotros' | mayusculas:enMayusculas}}</p>
    
</div>
<p-toolbar>
    <div class="p-toolbar-group-left">
    
    </div>
    
    <div class="p-toolbar-group-right">
        <button 
            pButton
            label="toggle mayusculas"
            (click)="cambiarPipe()"
            class="p-mr-1 p-button-warning"
        ></button>
        <button
            pButton
            label="Por nombre"
            class="p-mr-1"
        ></button>
        <button
            pButton
            label="Valores"
            class="p-mr-1 p-button-danger"
        ></button>
        <button
            pButton
            label="Por color"
            class="p-mr-1 p-button-help"
        ></button>
    </div>
</p-toolbar>